<mat-sidenav-container class="sidenav-container">

  <!-- Contenido principal del tablero -->
  <mat-sidenav-content>
    <div class="board-body">
      <mat-toolbar color="primary" class="app-toolbar">
        <a routerLink="/">
          <img ngSrc="/captaskLogo.png" alt="Logo" class="app-logo" height="1024" width="1024" priority/>
        </a>
      </mat-toolbar>

      <div class="ocean">
        <div class="bubble bubble1"></div>
        <div class="bubble bubble2"></div>
        <div class="bubble bubble3"></div>
        <div class="bubble bubble4"></div>
        <div class="bubble bubble5"></div>
        <div class="bubble bubble6"></div>
        <div class="bubble bubble7"></div>
        <div class="bubble bubble8"></div>
        <div class="bubble bubble9"></div>
        <div class="bubble bubble10"></div>
      </div>

      <div class="board-header">
        <p class="title" contenteditable="true">{{board?.titulo}}</p>
        <button mat-icon-button (click)="addColumn()" aria-label="Añadir columna" class="add-column-btn" matTooltip="Añadir columna">
          <mat-icon>add</mat-icon>
        </button>
        <button mat-icon-button (click)="addTask()" aria-label="Nueva tarea" class="add-column-btn" matTooltip="Nueva tarea">
          <mat-icon>note_add</mat-icon>
        </button>
        <span style="flex-grow: 1;"></span>
        <button mat-icon-button class="log-btn" aria-label="Nueva tarea" matTooltip="Bitácora" (click)="showLog()">
          <img ngSrc="/cuaderno_bitácora.png" fill alt="Bitácora"/>
        </button>
      </div>

      <div class="board-container">
        <div class="columns">
          <div class="column" *ngFor="let column of board?.columns">
            <div class="column-header">
              <h4
                class="column-title"
                contenteditable="true"
                [textContent]="column.title"
                (blur)="onColumnTitleEdit(column, $event)"
              ></h4>
              <span style="flex-grow: 1;"></span>
              <button mat-icon-button (click)="deleteColumn(column.id, column.title)" aria-label="Eliminar columna" matTooltip="Eliminar columna" class="delete-column-btn">
                <mat-icon>close</mat-icon>
              </button>
            </div>
            <div class="tasks"
                 [id]="'column-'+ column.id"
                 cdkDropList
                 [cdkDropListData]="column.tasks"
                 [cdkDropListConnectedTo]="connectedDropLists"
                 (cdkDropListDropped)="onTaskDrop($event, column)">

              <mat-card class="task"
                        *ngFor="let task of column.tasks"
                        cdkDrag
                        (dblclick)="openTask(task)">
                <div class="task-header">
                  <p class="task-title">{{ task.title }}</p>
                  <span class="priority-badge" [ngClass]="getPriorityClass(task.priority)">
                    {{ task.priority }}
                  </span>
                  <span style="flex-grow: 1;"></span>
                  <button mat-icon-button (click)="deleteTask(task, column)" aria-label="Eliminar tarea" matTooltip="Eliminar tarea" class="delete-task-btn">
                    <mat-icon>close</mat-icon>
                  </button>
                </div>

              </mat-card>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-sidenav-content>

  <!-- Sidebar para editar tarea -->
  <mat-sidenav #taskSidenav class="task-sidenav" position="end" mode="over" [disableClose]="true" [(opened)]="isSidenavOpen">
    <ng-container *ngIf="selectedTask">
      <h3>Editar tarea</h3>

      <label for="taskTitle">Título:</label>
      <input id="taskTitle" [(ngModel)]="selectedTask.title"
             (blur)="updateTask()" />

      <label for="taskPriority">Prioridad:</label>
      <select id="taskPriority" [(ngModel)]="selectedTask.priority" (change)="updateTask()">
        <option value="Baja">Baja</option>
        <option value="Media">Media</option>
        <option value="Alta">Alta</option>
        <option value="Urgente">Urgente</option>
      </select>

      <button mat-button (click)="closeSidenav()">Cerrar</button>
    </ng-container>
  </mat-sidenav>

  <mat-sidenav mode="over" position="start" disableClose class="log-sidenav" [(opened)]="isLogOpen">
    <div class="log-container">
      <div class="log-header">
        <h3>Bitácora</h3>
        <button mat-icon-button  matTooltip="Cerrar" (click)="closeSidenavStart()">
          <mat-icon>close</mat-icon>
        </button>
      </div>

      <textarea class="log-textarea" readonly #logTextArea>{{ board?.bitacora }}</textarea>

      <div class="log-input-container">
        <mat-form-field appearance="fill" class="log-input">
          <input matInput placeholder="Escribe una entrada..." [(ngModel)]="newLogEntry"/>
        </mat-form-field>
        <button mat-icon-button color="primary"  aria-label="Añadir entrada" matTooltip="Añadir" (click)="addLogEntry()">
          <mat-icon>add</mat-icon>
        </button>
      </div>

    </div>
  </mat-sidenav>


  <!-- Contenido principal -->
  <div>
    <button mat-icon-button matTooltip="Ver Bitácora" (click)="showLog()">
      <mat-icon>menu_book</mat-icon>
    </button>
    <!-- Aquí iría el resto de tu contenido -->
  </div>
</mat-sidenav-container>
